<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/images/Contact-Me.jpg');">
    <div class="container" >
      <div class="cc-contact">
        <div class="row" >
          <div class="col-md-9">
            <div class="card mb-0" style= "background-color: whitesmoke" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="f.form.valid ; f.resetForm()" name="form" novalidate>
                      <div class="p pb-3">
                        <strong>Feel free to contact me </strong>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group ">
                                  <span class="input-group-addon">
                                    <i class="fa fa-user-circle"></i>
                                  </span>
                            <input #name="ngModel" [(ngModel)]="model.name"
                                   [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" class="form-control"
                                   name="name" placeholder="Name"
                                   required type="text">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3 input-border-color">
                        <div class="col">
                          <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-file-text"></i>
                                  </span>
                            <input #subject="ngModel" [(ngModel)]="model.subject"
                                   [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" class="form-control"
                                   name="subject" placeholder="Subject"
                                   required type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                  </span>
                            <input #email="ngModel" [(ngModel)]="model.email"
                                   [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" class="form-control"
                                   name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                   placeholder="E-mail"
                                   required type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group input-border-color">
                            <textarea #message="ngModel" [(ngModel)]="model.message"
                                            [ngClass]="{ 'is-invalid': f.submitted && message.invalid }"
                                            class="form-control" name="message"
                                            placeholder="Your Message" required>
                            </textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p class="pb-2">+1-713-805-2114</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>patel.krushankant@outlook.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>
