<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Krushankant Patel</strong>.
                Currently, I am <strong>seeking full-time positions as a Front-end Developer.</strong>
              </p>
              <p>
                I have over 1 years of industry experience as a software Developer working as web developer building software and web applications using javascript and Asp.net MVC.
                More than 2 year of educational professional experience building application using Angular, TypeScript and rest api.
              </p>
              <p>
                I like to build scalable and user-friendly applications using the latest tools and technologies.
                Apart from building applications,
                I am always curious and fascinated about the issues faced by the application and debugging them in various manners.
                I am looking for an opportunity to solve challenging tasks and be a part of the team which will improve my knowledge and will help me in personal and professional growth.
              </p>
              <p>
                Skilled in Angular 2/4/5/6/7/8/9, TypeScript, JavaScript, HTML5, CSS3, Jquery, JSON, Bootstrap 4+, firebase, and have also prior knowledge
                C#, ASP.NET MVC, ASP.NET Core, Object-oriented programming, RESTful WebAPI, Linq, Repository pattern, Unit of work, SQL, PL/SQL,
                and  strong education professional with a <Strong>Master of Science in Management Information Systems</Strong> (emphasis on software or web Development)
                from the University of Houston-Clear Lake.
              </p>

              <p>
                <strong>Tools:</strong> Webstrom, Visual Studio Code, Visual Studio, Source Tree, Git, GitHub, UIPath, PowerBI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
