<div class="section" id="education">
    <div class="container cc-education" >
      <div class="h4 text-center mb-4 title">Education</div>
      <div *ngFor="let edu of educationData">
      <div class="card" >
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header" style="vertical-align: middle">

               <p class="h5"> {{edu.degree_Title}}</p>
              <p>{{edu.complete_year}}</p>

            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{edu.degree_Name}}</div>
              <p class="mb-1">{{edu.univ_Name}}</p>
              <div class="h6">Descriptions</div>
                <ul class="mb-0">
                 <li> {{edu.point_1}}</li>
                 <li>{{edu.point_2}}</li>
                 <li>{{edu.point_3}}</li>
             </ul>
            </div>
            <div class="card-footer">
              <p class="mb-0">{{edu.location}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
